<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>新增video</title>

  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">


  <script th:src="@{/js/html5shiv.js}"></script>
  <script th:src="@{/js/respond.min.js}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <![endif]-->
</head>

<body class="boxed-view">

<section>
    <div class="container">
        <!-- left side start-->
        <div class="left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <a th:href="@{/index}"><img th:src="@{/images/logo.png}" alt=""></a>
            </div>

            <div class="logo-icon text-center">
                <a th:href="@{/index}"><img th:src="@{/images/logo_icon.png}" alt=""></a>
            </div>
            <!--logo and iconic logo end-->


            <div class="left-side-inner">

                <!-- visible to small devices only -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media logged-user">
                        <img alt="" th:src="${session.user.faceImage}" class="media-object">
                        <div class="media-body">
                            <h4><a href="#">[[${session.user.getName()}]]</a></h4>
                            <span>"something else..."</span>
                        </div>
                    </div>

                    <h5 class="left-nav-title">用户信息</h5>
                    <ul class="nav nav-pills nav-stacked custom-nav">
                        <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                    </ul>
                </div>

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a th:href="@{/index}"><i class="fa fa-home"></i> <span>首页</span></a></li>
                    <li class="menu-list nav-active"><a href=""><i class="fa fa-laptop"></i> <span>功能页</span></a>
                        <ul class="sub-menu-list">
                            <li><a th:href="@{/layout/blank}"> Bgm管理</a></li>
                            <li class="active"><a th:href="@{/layout/boxed}"> 添加video</a></li>
                            <li><a th:href="@{/layout/left}"> 视频信息库</a></li>
                        </ul>
                    </li>
                    <li class="menu-list"><a href="#"><i class="fa fa-th-list"></i> <span>数据表</span></a>
                        <ul class="sub-menu-list">
                            <li><a th:href="@{/table/basic}"> 基本表</a></li>
                            <li><a th:href="@{/table/dynamic}"> 动态表</a></li>
                        </ul>
                    </li>
                    <li class="menu-list"><a href=""><i class="fa fa-file-text"></i> <span>附加页</span></a>
                        <ul class="sub-menu-list">
                            <li><a th:href="@{|/extra/profile/${session.user.id}|}"> Profile</a></li>
                            <li><a th:href="@{/extra/404}"> 404 Error</a></li>
                            <li><a th:href="@{/extra/500}"> 500 Error</a></li>
                            <li><a th:href="@{/extra/lock}"> Lockscreen </a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/login}"><i class="fa fa-sign-in"></i> <span>登录页</span></a></li>

                </ul>
                <!--sidebar nav end-->

            </div>
        </div>
        <!-- left side end-->

        <!-- main content start-->
        <div class="main-content" >

            <!-- header section start-->
            <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img th:src="${session.user.faceImage}" alt="" />
                            [[${session.user.getName()}]]
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a th:href="@{|/extra/profile/${session.user.id}|}"><i class="fa fa-user"></i>  Profile</a></li>
                            <li><a th:href="@{/login}"><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

            </div>
            <!-- header section end-->

            <!-- page heading start-->
            <div class="page-heading">
                添加video信息
            </div>
            <!-- page heading end-->

            <!--body wrapper start-->
            <div class="wrapper">
                <form th:action="@{/addVideo}"  method="post" th:object="${video}">

                    <div class="form-group">
                        <label for="exampleInputEmail1"></label>
                        <input th:field="*{audioId}" class="form-control" id="exampleInputEmail1" placeholder="audio id">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1"></label>
                        <input th:field="*{videoDesc}" class="form-control" id="exampleInput" placeholder="视频信息">
                    </div>
                    <div class="form-group">
                        <label for="upload"></label>
                        <input th:field="*{userId}" class="form-control" id="upload" placeholder="uploader">
                    </div>
                    <div class="form-group">
                        <label for="cover">选择封面</label>
                        <input type="file" id="cover" th:field="*{coverPath}" accept="image/jpeg, image/png">
                    </div>
                    <div class="form-group">
                        <label for="video">选择视频文件</label>
                        <input type="file" id="video" th:field="*{videoPath}" accept="video/mp4">
                    </div><div class="form-group">
                </div>

                    <button type="submit" class="btn btn-default">提交</button>
                </form>
            </div>
            <!--body wrapper end-->

            <!--footer section start-->
            <footer class="sticky-footer">
                2021 &copy; Developed by <a href="http://www.mycodes.net/" target="_blank">dlu admin</a>
            </footer>
            <!--footer section end-->


        </div>
        <!-- main content end-->
    </div>
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/modernizr.min.js}"></script>
<script th:src="@{/js/jquery.nicescroll.js}"></script>

<!--common scripts for all pages-->
<script th:src="@{/js/scripts.js}"></script>

</body>
</html>
