<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Directory</title>

  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">

  <script th:src="@{/js/html5shiv.js}"></script>
  <script th:src="@{/js/respond.min.js}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a th:href="@{/index}"><img th:src="@{/images/logo.png}" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a th:href="@{/index}"><img th:src="@{/images/logo_icon.png}" alt=""></a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" th:src="${session.user.faceImage}" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">[[${session.user.getName()}]]</a></h4>
                        <span>"something else..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">用户信息</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a th:href="@{/index}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>Layouts</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/layout/blank}"> Blank Page</a></li>
                        <li><a th:href="@{/layout/boxed}"> Boxed Page</a></li>
                        <li><a th:href="@{/layout/left}"> Sidebar Video Gallery</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="fa fa-th-list"></i> <span>Data Tables</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/table/basic}"> Basic Table</a></li>
                        <li><a th:href="@{/table/dynamic}"> Advanced Table</a></li>
                        <li><a th:href="@{/table/editable}"> Edit Table</a></li>
                    </ul>
                </li>

                <li class="menu-list nav-active"><a href=""><i class="fa fa-file-text"></i> <span>Extra Pages</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/extra/profile}"> Profile</a></li>
                        <li class="active"><a th:href="@{/extra/directory}"> Directory </a></li>
                        <li><a th:href="@{/extra/404}"> 404 Error</a></li>
                        <li><a th:href="@{/extra/500}"> 500 Error</a></li>
                        <li><a th:href="@{/login}"> Registration Page</a></li>
                        <li><a th:href="@{/extra/lock}"> Lockscreen </a></li>
                    </ul>
                </li>
                <li><a th:href="@{/login}"><i class="fa fa-sign-in"></i> <span>Login Page</span></a></li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img th:src="${session.user.faceImage}" alt="" />
                        [[${session.user.getName()}]]
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="#"><i class="fa fa-user"></i>  Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i>  Settings</a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Directory Page <small>people directory</small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Extra Pages</a>
                </li>
                <li class="active">Directory Page </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <ul class="directory-list">
                <li><a href="#">a</a></li>
                <li><a href="#">b</a></li>
                <li><a href="#">c</a></li>
                <li><a href="#">d</a></li>
                <li><a href="#">e</a></li>
                <li><a href="#">f</a></li>
                <li><a href="#">g</a></li>
                <li><a href="#">h</a></li>
                <li><a href="#">i</a></li>
                <li><a href="#">j</a></li>
                <li><a href="#">k</a></li>
                <li><a href="#">l</a></li>
                <li><a href="#">m</a></li>
                <li><a href="#">n</a></li>
                <li><a href="#">o</a></li>
                <li><a href="#">p</a></li>
                <li><a href="#">q</a></li>
                <li><a href="#">r</a></li>
                <li><a href="#">s</a></li>
                <li><a href="#">t</a></li>
                <li><a href="#">u</a></li>
                <li><a href="#">v</a></li>
                <li><a href="#">w</a></li>
                <li><a href="#">x</a></li>
                <li><a href="#">y</a></li>
                <li><a href="#">z</a></li>
            </ul>
            <div class="directory-info-row">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Margarita Rose <span class="text-muted small"> - Graphics Designer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user2.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>john Doe <span class="text-muted small"> - Frontend Developer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user1.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Jonathan Smith <span class="text-muted small"> - CEO</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user3.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Margarita Rose <span class="text-muted small"> - Graphics Designer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user2.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>john Doe <span class="text-muted small"> - Frontend Developer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user1.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Jonathan Smith <span class="text-muted small"> - CEO</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user3.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Margarita Rose <span class="text-muted small"> - Graphics Designer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user2.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>john Doe <span class="text-muted small"> - Frontend Developer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user1.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Jonathan Smith <span class="text-muted small"> - CEO</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user3.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Margarita Rose <span class="text-muted small"> - Graphics Designer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user2.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>john Doe <span class="text-muted small"> - Frontend Developer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" th:src="@{/images/photos/user1.png}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Jonathan Smith <span class="text-muted small"> - CEO</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="images/photos/user3.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Margarita Rose <span class="text-muted small"> - Graphics Designer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="images/photos/user2.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>john Doe <span class="text-muted small"> - Frontend Developer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="images/photos/user1.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Jonathan Smith <span class="text-muted small"> - CEO</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="images/photos/user3.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Margarita Rose <span class="text-muted small"> - Graphics Designer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="images/photos/user2.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>john Doe <span class="text-muted small"> - Frontend Developer</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="images/photos/user1.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>Jonathan Smith <span class="text-muted small"> - CEO</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="images/photos/user3.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>ABCDE, Inc.</strong><br>
                                            ABC Ave, Suite 14<br>
                                            BucketLand, Australia <br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer class="">
            2014 &copy; AdminEx by <a href="http://www.mycodes.net/" target="_blank">源码之家</a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/modernizr.min.js}"></script>
<script th:src="@{/js/jquery.nicescroll.js}"></script>

<!--common scripts for all pages-->
<script th:src="@{/js/scripts.js}"></script>

</body>
</html>
